@charset "UTF-8";

@font-face {
    font-family:Harenosora;
    src:url('fonts/Harenosora.otf');
}

html{
    font-size:62.5%;
}

body{
    color:#333;
    font-size:1.2rem;
   /* font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
    font-family: Raleway,Harenosora, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

    -webkit-font-smoothing: antialiased;
}

*, *::before, *::after{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* CLEAR FIX */
.clear{
    clear:both;
}

.clearfix::after{
    content:'';
    display:block;
    clear:both;
}

.hidden{
    display: none;
}